@using Microsoft.CodeAnalysis
@model int
@{
    ViewData["Title"] = "Home Page";
    var userID = ViewData["UserID"];
    var products = ViewData["Products"] as List<WebApplication3.Models.ProductTable>;
    var signUpSuccess = ViewData["SignUpSuccess"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (signUpSuccess != null)
{
    <div class="alert alert-success">
        @signUpSuccess
    </div>
}

<img src="~/Picture/coverhandcraft.jpeg" width="1300" />

<section class="mission">
    <div class="container">
        <h2 class="text-center">Our Mission</h2>
        <p class="text-center"> KhumaloCraft Emporium is dedicated to connecting talented artisans from around the globe with a discerning audience. Discover unique, handcrafted works and support the preservation of traditional artistry. </p>
    </div>
</section>

@if (userID != null)
{
    <p>User ID: @userID</p>
}
else
{
    <p>User has not logged in.</p>
}

<h2>All Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Availability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Category</td>
                <td>@product.Availability</td>
                <td>
                    <form asp-controller="Transaction" asp-action="PlaceOrder" method="post">
                        <input type="hidden" name="userID" value="@userID" />
                        <input type="hidden" name="productID" value="@product" />
                        <button type="submit">Place Order</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>



